<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.mapper.BoardMapper">
	<select id="getMax" resultType="int">
		select max(no)+1 as no from board
	</select>

	<insert id="insert" parameterType="board">
		insert into board(no, id,
		title, contents)
		values(#{no}, #{id}, #{title},#{contents})
	</insert>

	<select id="select" parameterType="int" resultType="board">
		select no,
		id, title, contents, date_format(regdate, '%y-%m-%d') as regdate
		from
		board where no = #{no}
	</select>

	<select id="searchAll" parameterType="pb" resultType="board">
		select (
		select count(*) from board
		<include refid="dynamic_where"></include>
		) as total, no, id, title, date_format(regdate, '%Y-%m-%d') as regdate
		from board
		<include refid="dynamic_where"></include>
		order by no desc limit #{pageNo},#{interval}
	</select>

	<sql id="dynamic_where">
		<where>
			<if test="key!='all'">
				<if test='word!=null'>
					<choose>
						<when test="key=='title'">
							title like concat('%',#{word},'%')
						</when>
						<when test="key=='contents'">
							contents like concat('%',#{word},'%')
						</when>
						<when test="key=='id'">
							id=#{word}
						</when>
					</choose>
				</if>
			</if>
		</where>
	</sql>

	<update id="update" parameterType="board">
		update board set title=#{title}, contents=#{contents} where no=#{no}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from board where no=#{no} 
	</delete>
	
</mapper>